body {
	box-sizing:border-box;
	font-family: Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
	box-sizing:inherit;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
	padding-left: 0;
}

img {
	max-width: 100%;
}

.octodex{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 100%;
}

.octocat{
	flex: 0 1 28%;
	min-width: 368px;
	margin: 20px 20px;
	position: relative;
}

img[src*="https://octodex.github.com/"]{
	padding: 5px;
}

li.octocat > a {
	position: relative;
}

li.octocat > a::after{ /*CSS Triangle*/
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #cccccc transparent transparent transparent;
	bottom: 0;
	right: 5px;
	bottom: -5px;
	z-index: 1;
	content: "";
}

a > img {
	border: 1px solid #CCC;
	border-radius: 5px;
}

.image-footer{
	border-bottom: 1px solid #CCC;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-number::before{
	content: "#"
}

.image-number{
	color: #BBB;
}

.image-caption{
	color: #AAA;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0 10px 0;
}
.image-caption > a {
	color: #333;
	display: inline-block;
	margin: 0 5px;
}
.image-caption li {
	margin-left: 5px;
}

.authors{
	display: inline-block;
}

.authors img {
	width: 30px;
	min-width: 30px;
	border-style: none;	
	margin: 0 0 0 2px;
}


